/*
@Filename: test.less
@description: test
@author: yy
*/
@import "_common/reset";


.loading{
    background: url(../img/loading.gif) no-repeat center center;
}

.err-404{
    background: url(../img/404.png) no-repeat center center;
}

.af{
    color: #f00;
}
